@font-face {
    font-family: 'Formula1';
    src: url('/static/fonts/Formula1 Display-Bold Bold.woff2') format('woff2'),
    url('/static/fonts/Formula1 Display-Bold Bold.woff') format('woff');
    font-weight: bold;

}

@font-face {
    font-family: 'Formula1';
    src: url('/static/fonts/Formula1 Display-Regular.woff2') format('woff2'),
    url('/static/fonts/Formula1 Display-Regular.woff') format('woff');
    font-weight: normal;
}


:root {
    --text-color: #032030;
    --text-low-contrast: #777;
    --text-mid-contrast: #333;
    --color-1: #f0f3fa;
    --color-2: #e8ebf2;
    --color-3: #d5deef;
    --color-4: #b1c9ef;
    --color-5: #628ecb;
    --color-6: #395886;
    --stat-color: #d6d8db;
    --stat-text-color: #3D3D40;
    --transparent-color: #b1c9ef33;
}

body {
    background-color: var(--color-6);
}

.admin-page-content-block {
    width: max-content;

    height: max-content;
    max-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-grid .admin-page-content-block{
    width: 100%;
    height: max-content;
}



.admin-page-content-block ul {
    overflow: auto;
}

.content {
    border-radius: 20px;
    padding: 0 20px;
    margin: 20px;
    max-width: 100%;
    width: calc(100% - 30px);
    background-color: var(--color-3);
}


main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

aside {
    background-color: var(--color-6);
    min-height: 100vh;
    padding-top: 20px;
    padding-left: 20px;
    width: 300px;
}

aside nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: 120px;
    width: 280px;
}


aside a {
    align-items: center;
    border-radius: 50px;
    color: var(--color-4);
    display: flex;
    gap: 5px;
    padding: 3px;
    text-align: left;
    width: 80%;
}

.active-link,
aside a:hover {
    background-color: var(--transparent-color);
}

aside h1 {
    color: var(--color-1)
}

hr {
    border: none;
    border-bottom: 1px solid var(--transparent-color);
}

.material-symbols-outlined {
    background-color: var(--transparent-color);
    padding: 8px;
    border-radius: 50%;
}

.content header {
    background: transparent;
    color: var(--text-color)
}


.content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

#registered-driver{
    grid-row: 1/3;
    grid-column: 1;

}

#registered-future-race{
    grid-column: 2;
    grid-row: 2;
}

#registered-race{
    grid-column: 2;
    grid-row: 1;
}


/*
.content-grid{
    display: grid;
    gap:20px;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    grid-auto-flow: dense;
}


 */


li {
    color: var(--color-5);
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
}

ul {
    padding: 0;

}

#countdown{
    border-top: none;
    margin: auto;
}