body {
    background-image: none;
    background-color: #fff;
}

.pilot-header {
    color: #fff;
    height: 225px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url("/static/img/bg/background_grid_pattern.png"),
    linear-gradient(120deg, #15151e 35%, #575568 60%);
    background-repeat: repeat-x, repeat;
    background-position: top 225px right 0, top;
    background-size: 300px, cover;
    background-attachment: fixed;
    background-blend-mode: overlay, normal;
    padding: 0 calc(50% - 500px);

}

.driver-name {
    border-left: 5px solid var(--color-5);
    height: min-content;
    padding-left: 10px;
    margin: 30px 0;
}

.driver-name h1 {
    padding: 5px;
    margin: 0;
}

nav {
    background-color: #15151e;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 0
}

nav a {
    color: #fff;
    width: 30%;
    text-align: center;
}

.driver-position {
    height: 100px;
    justify-content: space-between;

}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.driver-position h1 {
    font-size: 8.0rem;
    padding: 0;
    margin: 0;
}

.driver-points {
    border-top-right-radius: 20px;
    border-right: 5px solid var(--color-5);
    border-top: 5px solid var(--color-5);
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

.driver-points div {
    padding-top: 1fr;
    padding-bottom: 10px;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.driver-points div span {
    background-color: #15151e;
    color: white;
    padding: 3px 8px;
    font-size: calc(2.2rem - 5px);
    display: flex;
    border-radius: 3px;
}

.line {
    background-color: transparent;
    border-radius: 0;
    gap: 20px;
    padding: 0 20px;
    margin: 10px 0;

}

.border {
    border-top-right-radius: 20px;
    border-right: 5px solid var(--color-5);
    border-top: 5px solid var(--color-5);
    height: 30px;

}

.border-grey {
    border-color: #d0d0d2;

}

.years,
.borders {
    padding: 0 20px;
    margin: 0;
}

.driver-infos {
    background-color: transparent;
    border-left: none;
    border-right: 2px solid #d0d0d2;
    border-bottom: 2px solid #d0d0d2;
    border-bottom-right-radius: 20px;
}

.tab button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    color: #fff;
    width: 33%;
    max-width: 333px;
    text-align: center;
    border-radius: 0;
    padding: 14px;
    margin: 0;

}

.tab button.active {
    border-bottom: 3px solid #fff;

}

.driver-image2 {
    height: 200px;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 0;
}

.driver-image2 img {
    max-width: 100%;
    max-height: 170px;
    object-fit: contain;
    z-index: 0;
}


/* h2h */

.number-left,
.number-right {
    width: 50px;
    font-weight: bold;
    font-size: 2.0rem;
}

.number-right {
    text-align: right;
}

.number-left {
    text-align: left;
}

.progress-bar {
    width: 200px;
    height: 15px;
    display: flex;
    background-color: transparent;
    justify-content: center;
}

.progress-bar div {
    width: 50%;
}

.left-opponent {
    color: var(--driver-1);
    text-align: right;
}

.right-opponent {
    color: var(--driver-2);
}

.right-opponent select {
    color: var(--driver-2);
}

#VS {
    background-image: linear-gradient(90deg, #15151e 0 50%, #161620 50%);
    height: calc(100vh - 350px);
    color: #fff;
    padding-top: 0;
}

.color-bar {
    background-image: linear-gradient(90deg, var(--driver-1) 0 50%, var(--driver-2) 50%);
    width: 100%;
    height: 5px;
}

.header-line {
    color: #ccc;
    font-size: 1.2rem;
    margin-bottom: -10px;
}


select {
    background: transparent;
    color: #fff;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

select option {
    color: #000;

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.left-opponent,
.right-opponent {
    width: 45%;
}

/* end h2h */

@media (width < 1040px) {
    .pilot-header {
        padding: 0 0 0 10px;
    }
}