@font-face {
    font-family: 'Formula1';
    src: url('/static/fonts/Formula1 Display-Bold Bold.woff2') format('woff2'),
    url('/static/fonts/Formula1 Display-Bold Bold.woff') format('woff');
    font-weight: bold;

}

@font-face {
    font-family: 'Formula1';
    src: url('/static/fonts/Formula1 Display-Regular.woff2') format('woff2'),
    url('/static/fonts/Formula1 Display-Regular.woff') format('woff');
    font-weight: normal;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote {
    font-size: 1.4em;
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
    font-style: italic;
    color: var(--text-low-contrast);
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid var(--color-5);
    line-height: 1.6;
    position: relative;
    background: var(--color-1);
    border-radius: 8px;
}

blockquote::before {

    content: "\201C";
    color: var(--color-5);
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

blockquote::after {
    content: '';
}

blockquote span {
    display: block;
    color: var(--text-mid-contrast);
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}


:root {
    --text-color: #032030;
    --text-low-contrast: #777;
    --text-mid-contrast: #333;
    --color-1: #fff;
    --color-3: #d5deef;
    --color-4: #b1c9ef;
    --color-5: #628ecb;
    --color-6: #395886;

    --stat-color: #d6d8db;
    --stat-text-color: #3D3D40;
}

html {
    font-family: 'Formula1', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    background-image: url("/static/img/bg/background_grid_pattern.png") ,
    radial-gradient(circle, #575568 0%, #15151e 70%);
    background-repeat: repeat-x, no-repeat;
    background-position: bottom right, top 50px right 0;
    background-size: 50vh, cover;
    background-attachment: fixed;
    background-blend-mode: overlay, normal;
  }

h1, h2, h3 {
    font-family: 'Formula1', sans-serif;
}

b,
strong {
    font-weight: 700;
}

.t1 {
    font-weight: 700;
    font-size: 2.2rem;
}


a {
    color: var(--text-color);
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--color-6);
    padding: 10px 20px 0 20px;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    color: white;
}

.header-content {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.details .header-content {
    display: flex;
    align-items: center;
}

header a {
    color: white;
}

nav {
    display: flex;
    gap: 20px;
    padding: 0;
}

header nav a {
    padding: 10px;
    width: 200px;
    text-align: center;
    color: white;
}

header nav a {
    position: relative; /* Assurez-vous que la position est relative pour que la bordure apparaisse au bon endroit */
}

header nav a::after {
    content: ""; /* Ajoute un élément pseudo-élément pour créer la bordure animée */
    position: absolute; /* Positionne l'élément par rapport à son parent */
    bottom: 0; /* Place la bordure au bas du lien */
    left: 50%; /* Positionne la bordure au centre du lien */
    width: 0; /* Définissez la largeur initiale à 0 */
    height: 3px; /* Définissez l'épaisseur de la bordure */
    background-color: white; /* Couleur de la bordure */
    transition: width 0.3s ease-out, left 0.3s ease-out; /* Ajoute une transition pour l'animation */
    transform: translateX(-50%); /* Centre la bordure par rapport au lien */
}


header nav .active-link::after {
    width: 100%; /* Fait croître la largeur de la bordure à 100% */
    right: 0; /* Déplace la bordure vers la gauche pour qu'elle parte du centre vers l'extérieur */
}


.content-block {
    max-width: 1000px;
    width: calc(100% - 40px);
    margin: 20px auto 100px auto;
    padding: 20px;
    background-color: var(--color-1);
    border-radius: 20px;
}

.line {
    display: flex;
    gap: 5px;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.standing div {
    border-bottom: 2px solid grey;
}

.races {
    max-width: 1000px;
    margin: 200px auto auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px 0;
}

.races div {
    display: flex;
    align-items: center;
    gap: 2px;
}

.first {
    color: gold;
}

.second {
    color: silver;
}

.third {
    color: #614e1a;
}

.content {
    padding-right: 20px;
    margin: 120px auto;
    max-width: 1000px;
    min-height: calc(100vh - 320px);
    width: calc(100% - 340px);
}

select,
input {
    background-color: var(--color-1);
    border: 1px solid var(--color-3);
    border-radius: 5px;
    color: var(--text-color);
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 5px 8px;
    width: 80%;
    max-width: 300px;
}

input:focus {
    box-shadow: 0 0 5px 1px var(--color-4);
    outline: none;
}

label {
    color: var(--color-5);
    font-weight: 700;
}

.button-links,
button {
    background-color: transparent;
    border: 3px solid var(--color-5);
    border-radius: 10px;
    color: var(--color-5);
    cursor: pointer;
    margin: auto;
    padding: 10px 20px;
    width: max-content;
}

.button-links:hover,
button:hover {
    background-color: var(--color-5);
    color: #fff;
}

.position {
    width: 50px;
    border-right: 4px solid var(--color-5);
    padding: 5px;
}

.tab-header .position {
    border: none;
}

.points,
.stat {
    width: max-content;
    white-space: nowrap;
    background-color: var(--stat-color);
    padding: 5px 10px;
    border-radius: 10px / 50%;
    color: var(--stat-text-color);
}


.driver {
    width: 100%;
    padding-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.gp-infos {
    padding-left: 10px;
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    margin: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: calc(100% - 80px);
    border-left: 3px solid var(--color-5);
}

.dashed-border {
    border-left: 3px dashed var(--stat-color);
}

.driver-pos,
.gp-date {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-right: 10px;
    text-align: center;
    gap: 5px;
    font-weight: bold;
    font-size: 1.8rem;
}


.gp-infos h2 {
    text-align: left;
    margin: 0;
}

.gp-infos p {
    margin: 10px 0;
}

.podium {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.podium div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    max-width: 40%;
    overflow: hidden;
}

.podium div span {
    margin: 0;
    overflow: hidden;
}

.podium svg {
    height: 1.2rem;
}


.secondary-infos {
    color: var(--text-low-contrast);
}

.arrow-forward {
    width: 30px;
}

.image-button:hover,
.image-button {
    border: none;
    background-color: transparent;
    color: var(--color-5)
}

.blockquote-wrapper {
    display: flex;
    height: max-content;
    padding: 0 20px;
    margin: 20px;
}

/* Blockquote main style */
.blockquote {
    background-color: var(--color-1);
    position: relative;
    font-family: 'Formula1', sans-serif;
    max-width: 620px;
    margin: 20px auto;
    align-self: center;
    border: 0.3rem solid var(--color-5);
    border-radius: 3rem 0;
    padding: 4rem 1.5rem;
}

.blockquote:after {
    position: absolute;
    content: "";
    background-color: var(--color-1);
    left: -2rem;
    top: -2rem;
    width: calc(100% + 4rem);
    height: calc(100% + 4rem);
    z-index: -1;
    border-radius: 4.5rem 0;
}


/* Blockquote right double quotes */
.curly1 {
    position: absolute;
    display: block;
    width: 5rem;
    bottom: -.5rem;
    left: -.5rem;
}

.curly2 {
    position: absolute;
    display: block;
    width: 5rem;
    top: -.5rem;
    right: -.5rem;
    z-index: 2;
    transform: rotatez(180deg);
}


.awards {
    background-color: var(--color-1);
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.award {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.award-title {
    color: var(--color-5);
}

.award-driver {
    font-size: 2.0rem;
    font-weight: 700;
}

.award-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.award-1 {
    display: none;
}

.tab-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}

.tab-header .line {
    padding: 0;
    margin: 0;
}

.tab-header p span {
    border: none;
    background-color: transparent;
}

.car-radio-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.car-radio-buttons button {
    margin: 0;
    padding: 0;
}

.details {
    max-width: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    padding: 20px;
}

.tab-header {
    max-width: 1000px;
    margin: auto;
    border-radius: 20px;
}


.small-sized-content-block {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 30px;
}

.small-sized-content-block form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.small-sized-content-block input {
    width: 100%;
    max-width: 100%;
}

.arrow-forward {
    color: var(--color-5)
}

.all-races {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
    max-width: 1000px;
    width: calc(100% - 40px);
}

.all-races .content-block {
    margin: 0;
    width: 100%;
}

.all-races .line {
    padding: 0;
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-6);
    max-width: 1000px;
    width: calc(100% - 40px);
    margin: 20px auto;
}

.not-found a {
    color: var(--color-6);
    border: 2px solid var(--color-6);
    padding: 10px 20px;
    border-radius: 10px;
}

.not-found a:hover {
    color: var(--color-1);
    background-color: var(--color-6);
    border: 2px solid var(--color-6);
}

.not-found img {
    max-width: 300px;
    width: 80%;
}

.driver-infos {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    margin: 0;
    width: 40%;
}

.driver-infos h2 {
    text-align: left;
    margin: 0;
}

.driver-infos p {
    margin: 10px 0;
}

.driver-line {
    justify-content: space-between;
    align-items: flex-start;
}

.stat-changer {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.stat-changer button {
    width: min-content;
    padding: 0;
}

.green {
    color: #49D642;
}

.red {
    color: #E10200;
}

.violet {
    color: #B025CD;
}

.stat {
    display: none;
}

.first-showed-stat {
    display: flex;
}


    .center-container{
        display: flex;
        width: 100%;
        justify-content: center;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .last-season{
        background-color : var(--color-6);
        color: #fff;
        border-color: var(--color-6);
        width: max-content;
        margin: 20px auto;
        padding: 15px 50px;
        border-radius: 10px;
    }


@media (width < 480px) {

    :root {
    --text-color: #020202;
    --text-low-contrast: #777;
    --text-mid-contrast: #333;
    --color-1: #fff;
    --color-3: #d5deef;
    --color-4: #3f7fc9;
    --color-5: #3f7fc9;
    --color-6: #1b3a5f;
    --stat-color: #ededed;
    --stat-text-color: #3D3D40;
}


    .all-races {
        gap: 10px;
        margin: 10px auto;
        width: 100%;
    }

    .race-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .race-header h1 {
        margin: 0
    }

    .content-block {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }

    .content {
        width: 200px;
    }

    .details {
        width: 100%;
        margin: 0;
        border-radius: 0;
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .pilot-header {
        padding: 0 0 0 20px;
        min-height: 110px;
    }


    .line {
        background-color: var(--color-1);
        display: flex;
        gap: 5px;
        padding: 20px;
        justify-content: flex-start;
        margin: 0;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        align-items: center;
    }

    .driver-line {
        justify-content: space-between;
        align-items: flex-start;
    }

    .inverted-line {
        display: flex;
        gap: 5px;
        padding: 20px;
        justify-content: flex-start;
        margin: 0;
        border-radius: 10px 0 0 10px;
        align-items: center;
    }


    .standing2 {
        max-width: 98%;
        margin: 10px auto 20px 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        border-radius: 20px;
        gap: 5px;
    }

    .standing div {
        border-bottom: 2px solid grey;
    }


    nav {
        gap: 0;
    }

    header {
        padding: 10px 0 0 0;
    }

    header h1 {
        margin-left: 20px;
    }

    header nav a {
        width: 50%;
        text-align: center;
    }

    .awards {
        width: 90%;
    }

    .all-races .line {
        padding: 20px;
    }

    .header-content {
        max-width: 1000px;
        margin: 0;
    }

    .not-found {
        width: calc(100% - 40px);
        margin: 20px auto;
        padding: 20px;
    }




    .driver-name {
        z-index: 1;
        padding: 0;
        max-width: 50%;
    }

    .stat {
        align-items: center;
        display: none;
        white-space: nowrap;
    }

    .points {
        display: flex;
    }

    .first-showed-stat {
        display: flex;
    }

    #toggle-mode {
        border: 2px solid var(--color-5);
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }


    .hidden {
        opacity: 0.3 !important;
        transform: translateY(100px) !important;
    }

}

.race-date {
    display: flex;
    flex-direction: column;
}

.dark {
    --text-color: #f0f0f0;
    --text-low-contrast: #999;
    --text-mid-contrast: #d0d0d0;
    --color-1: #2d2d30;
    --color-3: #1e1e1e;
    --color-4: #006da4;
    --color-5: #006da4;
    --color-6: #006da4;
    --stat-color: #1e1e1e;
    --stat-text-color: #f0f0f0;
}

#toggle-mode {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--color-1);

    display: flex;
    align-items: center;
    justify-content: center;
}

#system-button span,
#light-button span,
#dark-button span {
    font-size: 4.2rem;
}

.btn {
    display: none;
}

#light-button {
    display: flex;
}

#countdown-container{
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    color: var(--text-color);
    text-align: center;
}

#countdown {
    display: flex;
    margin: auto;
    padding: 10px;
    border-top: 2px solid var(--stat-color);
}

#countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    border-right: 2px solid var(--stat-color);
    padding: 0 20px;
}

#countdown .last{
    border: none;
}

#countdown strong {
    font-size: 2.2rem;
}

#countdown p {
    font-size: 1.0rem;
}

.coming-race {
    background-image: url("./img/payerne-outdoor2.jpg");
    margin-top: -10px;
    padding: 20px;
    background-position: bottom;
    background-size: cover;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.coming-race .gp-infos {
    border: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background: transparent;
    border-radius: 0;
    color: #f0f0f0;
    width: 100%;
    padding: 0;
}

.coming-race .gp-infos div {
    border-right: 2px solid #aaa;
    border-top: 2px solid #aaa;
    border-top-right-radius: 10px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 1.8rem;

}

.coming-race .gp-date{
    color: #f0f0f0;
    display: flex;
    flex-direction: row;
}

.coming-race .race-place{
    width: 100%;
}


.wheel-icon {
    width: 2.2rem;
}

@media (prefers-color-scheme: dark) {
    .system {
        --text-color: #f0f0f0;
        --text-low-contrast: #aaa;
        --text-mid-contrast: #ddd;
        --color-1: #2d2d30;
        --color-2: #022b42;
        --color-3: #1e1e1e;
        --color-4: #006da4;
        --color-5: #006da4;
        --color-6: #006da4;
        --stat-color: #1e1e1e;
        --stat-text-color: #f0f0f0;
    }
}





